html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{font-size: 62.5%;}
body {
  font-family: Helvetica, 'STXihei', 'STHeiti Light', 'Microsoft yahei', sans-serif;
  line-height: 1;
  background-color: #fff;
}


input {
  margin: 0;
  padding: 0;
  /*-webkit-appearance: none;*/
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-input-placeholder {
color: #D6D0CA !important; 
}
input:-moz-placeholder {
color: #D6D0CA !important; 
}
input::-moz-placeholder {
color: #D6D0CA !important; 
}
input:-ms-input-placeholder {
color: #D6D0CA !important; 
}
textarea::-webkit-input-placeholder {
color: #000 !important; 
}
textarea:-moz-placeholder {
color: #000 !important; 
}
textarea::-moz-placeholder {
color: #000 !important; 
}
textarea:-ms-input-placeholder {
color: #000 !important; 
}
/*
a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}*/
a {
  display: block;
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.shadow {
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
     -moz-box-shadow: 0px 1px 3px #d9dbdd;
          box-shadow: 0px 1px 3px #d9dbdd;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;  
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

body{padding-bottom: 0.98rem;}
.footer_bar{
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  background: #fff;}
  .footer_bar a{
    height: 0.98rem;
    padding: 0.66rem 0 0;
    box-sizing: border-box;
    font-size: 0.18rem;
    color: #777777;
    text-align: center;
    position: relative;
    border-top: 1px solid #d0d0d0;
    background: url(../img/footer_bar_icon_1.png) no-repeat center 0.17rem;
    background-size: 0.35rem 1.35rem;}
    .footer_bar a.current{background-color: #259ffd;color: #fff;}
    .footer_bar a.footer_bar_0{background-image: url(../img/footer_bar_icon_0.png);background-size: 0.59rem 1.28rem;background-position: center 0.22rem;}
    .footer_bar a.footer_bar_0.current{background-position: center -0.78rem;}
    .footer_bar a.footer_bar_1.current{background-position: center -0.83rem;}
    .footer_bar a.footer_bar_2{background-image: url(../img/footer_bar_icon_2.png);background-size: 0.37rem 1.37rem;}
    .footer_bar a.footer_bar_2.current{background-position: center -0.80rem;}
    .footer_bar a::before{
      content: '';
      width: 1px;
      height: 0.38rem;
      position: absolute;
      background: #d1d1d1;
      left: 0;
      top: 50%;
      margin: -0.19rem 0 0;}
      .footer_bar a:first-child::before,
      .footer_bar a.current + a::before{display: none;}
nav{
  height: 0.65rem;
  display: block;
  text-align: center;
  font-size: 0.25rem;
  line-height: 0.65rem;
  position: relative;}
  nav a.back{
    color: #259ffd;
    font-size: 0.20rem;
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 0 0 0 0.20rem;}
  nav a.nav_center{
    width: 2.06rem;
    margin: 0 auto;
    color: #259ffd;
    display: block;
    border-bottom: 1px solid #259ffd;}
  nav.nav_tabs a{
    color: #777777;
    display: inline-block;}
    nav.nav_tabs a.current{
      color: #259ffd;
      border-bottom: 2px solid #259ffd;}
.banner{}
  .banner img{max-width: 100%;}
.game_list{padding: 0 0.26rem;}
  .game_list li{
    display: block;
    clear: both;
    padding: 0.22rem 0 0.22rem 0.10rem;
    position: relative;
    border-top: 1px solid #d9d9d9;}
    .game_list_recommend li{padding-left: 0.25rem;}
    .game_list li:first-child{border: none;}
    .game_list li::before{
      content: '';
      width: 1.06rem;
      height: 3px;
      background: #259ffd;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      margin: -2px 0 0 0;}
    .game_list li:first-child::before{display: none;}
    .game_list li span{
      width: 0.23rem;
      height: 0.23rem;
      line-height: 0.24rem;
      border-radius: 50%;
      color: #259ffd;
      font-size: 0.16rem;
      margin: 0.31rem 0 0 -0.34rem;
      float: left;
      text-align: center;
      border: 1px solid #259ffd;}
    .game_list li span.leaderboard_1,
    .game_list li span.leaderboard_2,
    .game_list li span.leaderboard_3{
      width: 0.31rem;
      height: 0.43rem;
      line-height: 0.34rem;
      border: none;
      border: 0;
      color: #fff;
      margin-top: 0.29rem;
      background: url(../img/leaderboard_icons.png) no-repeat center 0;
      background-size: 0.33rem 3.07rem;}
    .game_list li span.leaderboard_2{background-position: center -1.29rem;}
    .game_list li span.leaderboard_3{background-position: center bottom;}
    .game_list li img{
      width: 0.86rem;
      height: 0.86rem;
      float: left;
      display: block;
      border-radius: 0.10rem;}
    .game_list li strong{
      color: #000000;
      display: block;
      font-size: 0.22rem;
      padding: 0.02rem 0 0.16rem;
      margin: 0 1.20rem 0 1.10rem;}
    .game_list li p{
      line-height: 0.27rem;
      color: #999999;
      display: block;
      font-size: 0.16rem;
      margin: 0 1.20rem 0 1.10rem;}
      .game_list_recommend li strong,
      .game_list_recommend li p{margin: 0 1.10rem 0 1.00rem;}
    .game_list li a.list_btn{
      display: block;
      float: right;
      font-size: 0.20rem;
      color: #259ffd;
      line-height: 0.33rem;
      text-align: center;
      padding: 0 0.28rem;
      margin: 0.27rem 0 0 0;
      border-radius: 0.165rem;
      border: 1px solid #259ffd;}
.loading{
  line-height: 0.66rem;
  color: #999999;
  font-size: 0.16rem;
  text-align: center;
  background: #e7e7e7;}
  .loading span{
    content: '';
    padding-left: 0.4rem;
    display: inline-block;
    background: url(../img/spin.gif) no-repeat 0 center;
    background-size: 0.3rem 0.3rem;}
.link_tabs{text-align: center;font-size: 0.20rem;}
  .link_tabs a{
    display: inline-block;
    font-size: 0.20rem;
    line-height: 0.48rem;
    color: #a9a9a9;
    text-align: center;
    padding: 0 0.26rem;
    border: 1px solid #fff;}
    .link_tabs a.current{
      color: #259ffd;
      border: 1px solid #e1e1e1;
      border-radius: 0.235rem;}
.box{
  padding: 0 0.25rem;
  border-bottom: 0.07rem solid #e7e7e7;}
.home_title{
  line-height: 0.53rem;
  font-size: 0.24rem;
  font-weight: bold;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 0 0.50rem;
  background: url(../img/home_icon.png) no-repeat 0 8px;
  background-size: 0.43rem 2.25rem;}
  .home_title.home_title_hot{background-position: 0 -1.83rem;}
  .more{
    float: right;
    color: #259ffd;
    padding: 0 0.10rem 0 0;
    font-weight: normal;
    font-size: 0.20rem;
    position: relative;}
    .more small{
      top: 0;
      margin: -0.05rem 0 0;
      position: absolute;
      display: inline-block;}
.games_played_wrap{
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0.25rem 0.25rem 0.25rem 0;
  margin: 0 -0.25rem 0 0;}
  .games_played_wrap a{
    display: inline-block;}
  .games_played_wrap img{
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 0.10rem;}
.hot_games{
  width: 100%;
  font-size: 0.18rem;
  color: #a1a1a1;}
  .hot_games td{
    padding: 0.20rem 0.10rem;
    border: 1px solid #d9d9d9;}
    .hot_games td.td_top{border-top: none;}
    .hot_games td.td_left{border-left: none;}
    .hot_games td.td_right{border-right: none;padding-left: 0.20rem;}
    .hot_games td.td_bottom{border-bottom: none;}
    .hot_games td a{color: #a1a1a1;}
    .hot_games img{
      float: left;
      width: 0.86rem;
      height: 0.86rem;
      border-radius: 0.10rem;}
    .hot_games strong,
    .hot_games p{
      width: 1.60rem;
      margin-left: 1.00rem;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;}
    .hot_games strong{
      line-height: 0.40rem;
      font-size: 0.26rem;
      color: #383838;
      margin-bottom: 0.10rem;}
.home_title_small{
  font-size: 0.24rem;
  color: #000;
  padding: 10px 0.26rem 0;
  font-weight: bold;}
.lity_title{font-size: 0.28rem;}

.nav_tabs.nav_tabs_border a{border-bottom: 1px solid #e7e7e7;}
.integral_round{
  width: 3.09rem;
  height: 3.09rem;
  font-size: 0.30rem;
  border-radius: 50%;
  background: #259ffd;
  padding-top: 0.40rem;
  margin: 0.44rem auto 0;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 8px #259ffd;}
  .integral_round span{
    line-height: 0.60rem;
    display: block;}
  .integral_round strong{
    line-height: 1.16rem;
    display: block;
    font-size: 0.65rem;
    color: #f3606f;
    font-weight: normal;
    margin: 0 0.53rem;
    border: 1px solid #fff;
    border-width: 1px 0 1px 0;}
  .integral_round small{
    font-size: 0.25rem;
    padding-top: 0.20rem;
    display: inline-block;}
.integral_subtitle{
  color: #259ffd;
  font-size: 0.22rem;
  line-height: 0.46rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0.23rem;
  margin: 0.30rem 0.70rem;
  border: 1px solid #259ffd;}
.integral_links{
  text-align: center;
  font-size: 0.22rem;
  color: #929293;
  padding: 0.30rem 0;
  margin: 0 0.35rem;
  text-indent: 0.20rem;
  border-top: 1px solid #e7e7e7;}
  .integral_links a{
    line-height: 0.28rem;
    display: inline-block;
    color: #929293;
    position: relative;}
  .integral_links a:first-child{margin-right: 0.60rem;}
    .integral_links a::before{
      content: '!';
      width: 0.28rem;
      height: 0.28rem;
      line-height: 0.30rem;
      font-size: 0.14rem;
      border-radius: 50%;
      position: absolute;
      left: 0;
      /*margin: 0 0 0 -0.32rem;*/
      margin: 0 0 0 -0.12rem;
      color: #fff;
      text-align: center;
      text-indent: 0;
      background: #259ffd;}
    .integral_links a:first-child::before{content: '?';}
.integral_info{
  font-size: 0.22rem;
  text-align: center;
  position: relative;
  padding: 0 0.35rem;
  margin: 0.20rem 0.35rem 0;
  border-top: 1px solid #e7e7e7;}
  .integral_info_title{
    display: inline-block;
    text-align: center;
    color: #259ffd;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin: -0.12rem 0 0 -0.68rem;}
  .integral_info li{
    font-size: 0.24rem;
    line-height: 0.65rem;
    color: #929293;
    text-align: left;
    padding: 0 0 0 0.86rem;
    margin: 0.40rem auto;
    background: url(../img/integral_bottom_icons.png) no-repeat 0 0;
    background-size: 0.64rem 2.74rem;}
    .integral_info li span{
      width: 1.34rem;
      font-size: 0.20rem;
      line-height: 0.35rem;
      float: right;
      text-align: center;
      color: #259ffd;
      margin: 0.13rem 0 0;
      border-radius: 0.175rem;
      border: 1px solid #259ffd;}
      .integral_info li span.current{
        background: #259ffd;
        color: #fff;}
      .integral_info li.integral_info_1{background-position: 0 -1.03rem;}
      .integral_info li.integral_info_2{background-position: 0 bottom;}





























